@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome">
    <h1>Sacrament Meeting Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="https://d3ewd3ysu1dfsj.cloudfront.net/images/stories/large/21000.jpg" class="col-md-12" />
    </div>
    <div class="col-md-8">
        <h2>Helping you plan!</h2>
        <p>With this online tool you can plan a sacrament meeting with ease. This tool has all the things you need to make a good looking plan for sacrament meetings.</p>
    </div>
</div>
